<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hades.example.android">
    <!-- START_CONTENT_PROVIDER -->
    <!-- 授予读联系人ContentProvider的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 授予写联系人ContentProvider的权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- 授予程序访问振动器的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- END_CONTENT_PROVIDER -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--android:usesCleartextTraffic="true"-->
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- <activity android:namAActivityvity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN"/> -->
        <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".MainActivity" />
        <activity android:name=".QAActivity" />
        <activity android:name=".app_component.TestAppComponentActivity" />
        <activity android:name=".app_component._activity.TestActivityActivity" />
        <activity android:name=".app_component._fragment.TestFragmentActivity" />

        <activity android:name=".app_component._activity._start_close.AActivity" />
        <activity android:name=".app_component._activity._start_close.BActivity" />

        <activity
            android:name=".app_component._intent_and_intent_filter._launch_mode.D"
            android:launchMode="singleTask" />

        <activity android:name=".app_component._intent_and_intent_filter._component.FirstActivity" />
        <activity android:name=".app_component._intent_and_intent_filter._component.SecondActivity" />

        <activity android:name=".app_component._intent_and_intent_filter._launch_mode.E" />
        <activity android:name=".app_component._intent_and_intent_filter._action_category.A" />
        <activity android:name=".app_component._intent_and_intent_filter._action_category.B">
            <intent-filter>
                <action android:name="com.hades.example.android.app_component._intent_and_intent_filter._action_category.B.ACTION_1" />
                <action android:name="com.hades.example.android.app_component._intent_and_intent_filter._action_category.B.ACTION_2" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.hades.example.android.app_component._intent_and_intent_filter._action_category.B.CATEGORY_1" />
                <category android:name="com.hades.example.android.app_component._intent_and_intent_filter._action_category.B.CATEGORY_2" />
            </intent-filter>
        </activity>
        <activity android:name=".app_component._intent_and_intent_filter._action_category.C">
            <intent-filter>
                <action android:name="com.hades.example.android.app_component._intent_and_intent_filter._action_category.C.ACTION_3" />
                <category android:name="com.hades.example.android.app_component._intent_and_intent_filter._action_category.C.CATEGORY_3" />
            </intent-filter>
        </activity>
        <activity android:name=".app_component._intent_and_intent_filter._action_category.SystemActionActivity" />

        <activity android:name=".app_component._intent_and_intent_filter._data_type.A" />
        <activity
            android:name=".app_component._intent_and_intent_filter._data_type.B1"
            android:label="B1">
            <intent-filter>
                <data android:scheme="@string/scheme_1" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app_component._intent_and_intent_filter._data_type.B2"
            android:label="B2">
            <intent-filter>
                <action android:name="action1" />
                <data android:scheme="@string/scheme_1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_component._intent_and_intent_filter._data_type.B3"
            android:label="B3">
            <intent-filter>
                <category android:name="category1" />
                <data android:scheme="@string/scheme_1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_component._intent_and_intent_filter._data_type.B4"
            android:label="B4">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="@string/scheme_1" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_component._intent_and_intent_filter._data_type.B5"
            android:label="B5">
            <intent-filter>
                <action android:name="action1" />
                <category android:name="category_1" />
                <data android:scheme="@string/scheme_1" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app_component._intent_and_intent_filter._data_type.B6"
            android:label="B6">
            <intent-filter>
                <action android:name="action1" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="@string/scheme_1" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app_component._intent_and_intent_filter._data_type.B7"
            android:label="B7">
            <intent-filter>
                <action android:name="action2" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="@string/scheme_2" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_component._intent_and_intent_filter._data_type.B8"
            android:label="B8">
            <intent-filter>
                <action android:name="action2" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="@string/host_1"
                    android:scheme="@string/scheme_2" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app_component._intent_and_intent_filter._data_type.B9"
            android:label="B9">
            <intent-filter>
                <action android:name="action2" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="@string/host_1"
                    android:scheme="@string/scheme_2" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_component._intent_and_intent_filter._data_type.B10"
            android:label="B10">
            <intent-filter>
                <action android:name="action2" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="@string/host_1"
                    android:port="@string/port_1"
                    android:scheme="@string/scheme_2" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_component._intent_and_intent_filter._data_type.B11"
            android:label="B11">
            <intent-filter>
                <action android:name="action2" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="@string/host_1"
                    android:path="@string/path_1"
                    android:port="@string/port_1"
                    android:scheme="@string/scheme_2" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_component._intent_and_intent_filter._data_type.B12"
            android:label="B12">
            <intent-filter>
                <action android:name="action2" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="@string/host_1"
                    android:path="@string/path_2"
                    android:port="@string/port_1"
                    android:scheme="@string/scheme_2" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app_component._intent_and_intent_filter._data_type.B13"
            android:label="B13">
            <intent-filter>
                <action android:name="action3" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="@string/host_1"
                    android:mimeType="@string/mime_type_1"
                    android:path="@string/path_1"
                    android:scheme="@string/scheme_3" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app_component._intent_and_intent_filter._data_type.B14"
            android:label="B14">
            <intent-filter>
                <action android:name="action3" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="@string/host_1"
                    android:mimeType="@string/mime_type_1"
                    android:path="@string/path_2"
                    android:scheme="@string/scheme_3" />
            </intent-filter>
        </activity>

        <activity android:name=".app_component._intent_and_intent_filter._flag.D" />
        <activity android:name=".app_component._intent_and_intent_filter._flag.E" />

        <activity android:name=".resource.adapter_screen.TestSaveAndRestoreStateActivity" />
        <activity
            android:name=".app_component._activity._life_cycle.A"
            android:configChanges="orientation" />
        <activity android:name=".app_component._activity._life_cycle.B" />
        <activity
            android:name=".app_component._activity._life_cycle.TranslucentB"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".app_component._activity._life_cycle.FloatB"
            android:theme="@android:style/Theme.Dialog" />

        <activity android:name=".app_component._activity._life_cycle.C" />
        <activity android:name=".app_component._activity.GetViewSizeInOncreateActivity" />

        <activity android:name=".app_component._activity._children.TestLauncherActivity" />
        <activity android:name=".app_component._activity._children.TestPreferenceActivity" />
        <activity android:name=".app_component._activity._children.TestExpandableListActivity" />

        <activity android:name=".app_component._fragment.book.BookListActivity" />
        <activity android:name=".app_component._fragment.book.BookDetailActivity" />

        <provider
            android:name=".app_component.cp.dict.DictContentProvider"
            android:authorities=".app_component.cp.dict.DictContentProvider"
            android:exported="true" />

        <activity android:name=".app_component.cp.dict.DictActivity" />
        <activity android:name=".app_component.cp.dict.DictSearchResultActivity" />
        <activity android:name=".app_component.cp.system.contact.ContactContentProviderActivity" />
        <activity android:name=".app_component.cp.system.media.MediaActivity" />
        <activity android:name=".app_component.cp.system.sms.SMSActivity" />

        <service android:name=".app_component.service.unbounservice.FirstService" />
        <service android:name=".app_component.service.boundservice.LocalBoundedService" />
        <service android:name=".app_component.service.unbounservice.intent_service.MyService" />
        <service android:name=".app_component.service.unbounservice.intent_service.MyIntentService" />

        <activity android:name=".app_component.service.boundservice.TestLocalBoundServiceActivity" />
        <activity android:name=".app_component.service.boundservice.TestRemoteBoundServiceActivity" />
        <activity android:name=".app_component.service.boundservice.TestRemoteBoundServiceActivity2" />
        <activity android:name=".app_component.service.unbounservice.StartServiceTest1Activity" />
        <activity android:name=".app_component.service.unbounservice.StartServiceTest2Activity" />
        <activity android:name=".app_component.service.unbounservice.intent_service.TestIntentServiceActivity" />
        <activity android:name=".app_component.service.system.telephony_service.CheckNetworkAndSIMInfoActivity" />
        <activity android:name=".app_component.service.system.telephony_service.MonitorPhoneActivity" />
        <activity android:name=".app_component.service.system.sms_manager.SendSmsActivity" />
        <activity android:name=".app_component.service.system.audio_manager.AudioServiceActivity" />
        <activity android:name=".app_component.service.system.vibrator.VibratorActivityWithFragmentActivity" />
        <activity android:name=".app_component.broadcast.normal.TestNormalBroadcastActivity" />
        <activity android:name=".app_component.broadcast.ordered.TestOrderedBroadcastActivity" />
        <!--
 ERROR:
        BroadcastQueue: Background execution not allowed: receiving Intent { act=.app_component.broadcast.normal.SimpleReceiver.ONE flg=0x10 (has extras) }
        to .android_about_demos/.app_component.broadcast.SimpleReceiver
        -->
        <!-- <receiver android:name=".app_component.broadcast.SimpleReceiver"> -->
        <!-- &lt;!&ndash; If no intent-filter, can not receive anything. &ndash;&gt; -->
        <!-- <intent-filter> -->
        <!-- &lt;!&ndash; 指定该BroadcastReceiver所响应的Intent的Action &ndash;&gt; -->
        <!-- <action android:name=".app_component.broadcast.normal.SimpleReceiver.ONE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- W/BroadcastQueue: Permission Denial: receiving Intent { act=android.intent.action.BOOT_COMPLETED flg=0x9000010 (has extras) } to .android_about_demos/.app_component.broadcast.normal.BootCompletedReceiver requires android.permission.RECEIVE_BOOT_COMPLETED due to sender null (uid 1000) -->
        <receiver android:name=".app_component.broadcast.normal.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- <receiver android:name=".app_component.broadcast.ordered.OrderMsgReceiver2"> -->
        <!-- <intent-filter android:priority="1"> -->
        <!-- <action android:name=".app_component.broadcast.ordered.BootCompletedReceivereiver.TWO" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver android:name=".app_component.broadcast.ordered.OrderMsgReceiver3"> -->
        <!-- <intent-filter android:priority="2"> -->
        <!-- <action android:name=".app_component.broadcast.ordered.BootCompletedReceivereiver.TWO" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- END_BROADCAST -->
        <!-- START_RUNTIME_PERMISSION -->
        <!-- SMSReceiver must add android.provider.Telephony.SMS_RECEIVED, or it cannot receiver nothing -->
        <activity android:name=".runtime_permission.RuntTimePermissionTestActivity" />
        <activity android:name=".runtime_permission.RxPermissionsTestActivity" /> <!-- <receiver android:name=".runtime_permission.SMSReceiver"> -->
        <!-- <intent-filter android:priority="1000"> -->
        <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- END_RUNTIME_PERMISSION -->
        <activity android:name=".widget.WidgetActivity" /> <!-- START_WIDGET -->
        <!-- SPLASH_NOTIFY_ICON_START -->
        <activity android:name=".widget.splash_notify_icon.SplashNotifyIconActivity" />
        <activity android:name=".widget.splash_notify_icon.SplashNotifyIconActivity2" /> <!-- SPLASH_NOTIFY_ICON_END -->
        <!-- START_SCROLL_VIEW -->
        <activity android:name=".widget._list.scrollview.qa_swipe_whole_page.WrongSwipeWhoPageActivity" />
        <activity android:name=".widget._list._recyclerview._dag_reorder_list.v1.DragAndReorderListActivity" /> <!-- END_SCROLL_VIEW -->
        <activity android:name=".widget._list._recyclerview._dag_reorder_list.v2.DragAndReorderListActivity" />
        <activity android:name=".widget.custom_view.cascadelayout.CascadeLayoutActivity" />
        <activity android:name=".widget._button.TestButtonActivity" />
        <activity android:name=".widget._videoview.VideoViewRotateScreenTipActivity" />
        <!-- END_WIDGET -->

        <activity android:name=".other_ui.OtherUIActivity" />
        <activity android:name=".other_ui._notification.TestNotificationDescActivity" />
        <activity android:name=".other_ui._actionbar.TestActionBarActivity" />
        <activity android:name=".other_ui._navigation.TestActionBarNavigationActivity" />
        <activity android:name=".other_ui._navigation.TestSwipeViewPagerActivity" />
        <activity android:name=".other_ui._dialog.TestDialogActivity" />
        <activity
            android:name=".other_ui._navigation.TestBottomNavigationActivity"
            android:label="@string/bottom_navigation" />

        <!--<activity-->
        <!--android:name=".other_ui._dialog.DialogStyleActivity"-->
        <!--android:theme="@android:style/Theme.Material.Dialog" />-->

        <activity
            android:name=".other_ui._dialog.good.activity.DialogStyleActivity"
            android:theme="@android:style/Theme.Material.DialogWhenLarge" />
        <receiver
            android:name=".other_ui.manager_phone_desktop._app_widget.base.AppWidgetProvider4Base"
            android:icon="@drawable/ic_launcher"
            android:label="@string/basic_app_widget">
            <intent-filter>
                <!-- action specifies that the AppWidgetProvider accepts the ACTION_APPWIDGET_UPDATE broadcast -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info_4_base" />
        </receiver>

        <activity android:name=".other_ui.manager_phone_desktop._app_widget.base.TestAppWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".other_ui.manager_phone_desktop._app_widget.base.LaunchedAfterClickAppWidgetBtnActivity" />

        <receiver
            android:name=".other_ui.manager_phone_desktop._app_widget.clock.AppWidgetProvider4LedClock"
            android:icon="@drawable/digital_clock"
            android:label="@string/digital_clock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info_4_clock" />
        </receiver>
        <receiver
            android:name=".other_ui.manager_phone_desktop._app_widget.list.ExampleAppWidgetProvider4Collections"
            android:icon="@android:color/holo_red_dark"
            android:label="@string/page_ListView">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info_4_list" />
        </receiver>

        <service
            android:name=".other_ui.manager_phone_desktop._app_widget.list.ExampleRemoteViewsService4Collections"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <activity android:name=".other_ui.manager_phone_desktop.TestManagerPhoneDesktopActivity" />
        <!-- 配置动态壁纸Service -->
        <service
            android:name=".other_ui.manager_phone_desktop.wallpaper.live_wallpaper.LiveWallpaper"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <!-- 为动态壁纸配置meta-data -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper" />
        </service>

        <activity android:name=".other_ui.manager_phone_desktop.shortcuts.dynamic.AddDynamicShortcutsActivity" />
        <activity android:name=".other_ui.manager_phone_desktop.shortcuts._static.StaticShortcutsActionResponseActivity" />
        <!--<activity android:name=".other_ui.manager_phone_desktop.shortcuts._static.StaticShortcutsActionResponseActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->

        <!--<meta-data-->
        <!--android:name="android.app.shortcuts"-->
        <!--android:resource="@xml/static_shortcuts" />-->
        <!--</activity>-->

        <activity android:name=".other_ui.manager_phone_desktop.shortcuts.pinned.AddPinndedShortcutsActivity" />

        <!-- START_EVENT_HANDLER -->
        <activity android:name=".android_mechanism.event_handle.TestEventHandlerActivity" />
        <activity android:name=".android_mechanism.event_handle.base_on_listener.plane.TestCircleViewActivity" />
        <activity android:name=".android_mechanism.event_handle.base_on_listener.event_listener_type.EventListenerTypeActivity" />
        <activity android:name=".android_mechanism.event_handle.base_on_listener.event_listener_type.activity_itself.ActivityItselfListenerActivity" />
        <activity android:name=".android_mechanism.event_handle.base_on_listener.event_listener_type.xml.XmlListenerActivity" />
        <activity android:name=".android_mechanism.event_handle.base_on_callback.EventHandlerBaseOnCallbackActivity" /> <!-- END_EVENT_HANDLER -->
        <!-- START_EVENT_HANDLER -->
        <activity android:name=".android_mechanism.msg_handler.MessageHandlerActivity" /> <!-- END_EVENT_HANDLER -->
        <!-- START_RESOURCES -->
        <activity
            android:name=".resource.ResourceActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name=".resource.adapter_screen.DipTestActivity" />
        <activity android:name=".resource.drawable.state.custom_selector_drawable.CustomSelectedStatusActivity" />
        <activity android:name=".resource.drawable.state.custom_selector_drawable.CustomSelectedStatusActivity2" />
        <!--android:configChanges="screenSize|orientation"-->
        <activity
            android:name=".resource.adapter_screen.TestConfigurationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".resource._style_theme.ThemeChoosePageAActivity" />
        <activity android:name=".resource._style_theme.ThemeChoosePageBActivity" />
        <activity
            android:name=".resource.drawable._bitmap.three_level_cache.ImageGridActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".resource.drawable._bitmap.three_level_cache.ImageDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".resource.drawable._bitmap.three_level_cache.ImageGridActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".resource.drawable._bitmap.three_level_cache.ImageGridActivity" />
        </activity> <!-- END_RESOURCES -->
        <activity android:name=".data_storage.DataStorageActivity" />
        <activity android:name=".data_storage.database.TestSQLiteActivity" />
        <activity android:name=".po.security.SecurityActivity" />
        <activity android:name="._process_and_thread.TestBackgroundTasksActivity" />

        <activity android:name=".sensor.TestSensorActivity" />

        <activity android:name=".gps.TestGpsActivity" />

        <activity android:name=".network.TestNetworkActivity" />
        <activity android:name=".network.tcp_ip.one_thread_client.SimpleClientActivity" />
        <activity android:name=".network.tcp_ip.multi_thread_client.MultiThreadClientActivity" />

        <activity android:name=".media.TestMediaActivity" />
        <activity android:name=".media.audio.audio_effect.TestAudioEffectActivity" />
        <activity android:name=".media.camera.TestCameraActivity" />
    </application>

</manifest>