<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hades.android.example.android_about_demos">

    <!-- START_CONTENT_PROVIDER -->
    <!-- 授予读联系人ContentProvider的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 授予写联系人ContentProvider的权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- 授予读取外部存储设备的的访问权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 授予写入外部存储设备的的访问权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 添加访问手机位置的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 添加访问手机状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- 授予程序访问振动器的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- END_CONTENT_PROVIDER -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--<activity android:namAActivityvity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN"/>-->

        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <activity android:name=".MainActivity" />

        <!-- Activity, start -->

        <!-- Activity lifecycle, start -->
        <!--<activity-->
        <!--android:name=".app_component.activity.lifecycle.A"/>-->

        <activity
            android:name=".app_component.activity.lifecycle.A"
            android:configChanges="orientation" />

        <activity android:name=".app_component.activity.lifecycle.B" />

        <activity
            android:name=".app_component.activity.lifecycle.TranslucentB"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".app_component.activity.lifecycle.FloatB"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".app_component.activity.lifecycle.C" />
        <activity android:name=".resource.adapter_screen.DisableRotateActivity" />
        <!-- Activity lifecycle, end -->
        <!-- Activity, end -->

        <!-- START_RUNTIME_PERMISSION -->
        <!-- SMSReceiver must add android.provider.Telephony.SMS_RECEIVED, or it cannot receiver nothing-->
        <activity android:name="com.hades.android.example.android_about_demos.runtime_permission.RuntTimePermissionTestActivity" />
        <activity android:name="com.hades.android.example.android_about_demos.runtime_permission.RxPermissionsTestActivity" />

        <!--<receiver android:name="com.hades.android.example.android_about_demos.runtime_permission.SMSReceiver">-->
        <!--<intent-filter android:priority="1000">-->
        <!--<action android:name="android.provider.Telephony.SMS_RECEIVED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!-- END_RUNTIME_PERMISSION -->

        <!-- APPLY_THEME_START -->
        <activity android:name=".resource.theme.apply_theme.ThemeChoosePageAActivity" />
        <activity android:name=".resource.theme.apply_theme.ThemeChoosePageBActivity" />

        <!-- APPLY_THEME_END -->

        <activity android:name=".widget.TestWidgetActivity" />

        <!-- START_WIDGET -->
        <!-- SPLASH_NOTIFY_ICON_START -->
        <activity android:name=".app_component.splash_notify_icon.SplashNotifyIconActivity" />
        <activity android:name=".app_component.splash_notify_icon.SplashNotifyIconActivity2" />
        <!-- SPLASH_NOTIFY_ICON_END -->

        <!-- START_SCROLL_VIEW -->
        <activity android:name=".widget.scrollview.qa_swipe_whole_page.WrongSwipeWhoPageActivity" />
        <!-- END_SCROLL_VIEW -->

        <activity
            android:name=".other_ui.dialog.DialogStyleActivity"
            android:theme="@android:style/Theme.Material.Dialog" />
        <!-- END_WIDGET -->

        <!-- START_OTHER_UI -->
        <activity android:name=".other_ui.notifiaction.NotificationDescActivity" />
        <!-- START_OTHER_UI -->

        <!-- START_EVENT_HANDLER -->
        <activity android:name=".event_handle.EventHandlerActivity" />
        <activity android:name=".event_handle.base_on_listener.plane.PlaneViewActivity" />
        <activity android:name=".event_handle.base_on_listener.event_listener_type.EventListenerTypeActivity" />
        <activity android:name=".event_handle.base_on_listener.event_listener_type.activity_itself.ActivityItselfListenerActivity" />
        <activity android:name=".event_handle.base_on_listener.event_listener_type.xml.XmlListenerActivity" />
        <activity android:name=".event_handle.base_on_callback.EventHandlerBaseOnCallbackActivity" />
        <!-- END_EVENT_HANDLER -->

        <!-- START_EVENT_HANDLER -->
        <activity android:name=".msg_handler.MessageHandlerActivity" />
        <!-- END_EVENT_HANDLER -->

        <!-- START_RESOURCES -->
        <activity android:name=".resource.ResourceActivity" />
        <activity android:name=".resource.drawable.state_list.custom_selector_drawable.CustomSelectedStatusActivity" />
        <activity android:name=".resource.drawable.state_list.custom_selector_drawable.CustomSelectedStatusActivity2" />
        <!-- END_RESOURCES -->

        <!-- START_CONTENT_PROVIDER -->
        <provider
            android:name=".app_component.cp.dict.DictContentProvider"
            android:authorities="com.hades.android.example.android_about_demos.app_component.cp.dict.DictContentProvider"
            android:exported="true" />

        <activity android:name=".app_component.cp.dict.DictActivity" />
        <activity
            android:name=".app_component.cp.dict.DictSearchResultActivity"
            android:theme="@android:style/Theme.Material.Dialog" />
        <activity android:name=".app_component.cp.system.contact.ContactContentProviderActivity" />
        <activity android:name=".app_component.cp.system.media.MediaActivity" />
        <activity android:name=".app_component.cp.system.sms.SMSActivity" />
        <!-- END_CONTENT_PROVIDER -->

        <!-- START_SERVICE -->
        <service android:name=".app_component.service.unbounservice.FirstService" />
        <service android:name=".app_component.service.bindservice.BoundedService" />
        <service android:name=".app_component.service.unbounservice.intent_service.MyService" />
        <service android:name=".app_component.service.unbounservice.intent_service.MyIntentService" />

        <activity android:name=".app_component.service.unbounservice.StartServiceTest1Activity" />
        <activity android:name=".app_component.service.unbounservice.StartServiceTest2Activity" />
        <activity android:name=".app_component.service.bindservice.BoundedServiceTestActivity" />
        <activity android:name=".app_component.service.unbounservice.intent_service.TestIntentServiceActivity" />
        <activity android:name=".app_component.service.system.telephony_service.CheckNetworkAndSIMInfoActivity" />
        <activity android:name=".app_component.service.system.telephony_service.MonitorPhoneActivity" />
        <activity android:name=".app_component.service.system.sms_manager.SendSmsActivity" />
        <activity android:name=".app_component.service.system.audio_manager.AudioServiceActivity" />
        <activity android:name=".app_component.service.system.vibrator.VibratorActivityWithFragment" />
        <!-- END_SERVICE -->

        <!-- START_BROADCAST -->
        <activity android:name=".app_component.broadcast.normal.TestNormalBroadcastActivity" />
        <activity android:name=".app_component.broadcast.ordered.TestOrderedBroadcastActivity" />

        <!-- ERROR:
        BroadcastQueue: Background execution not allowed: receiving Intent { act=com.hades.android.example.android_about_demos.app_component.broadcast.normal.SimpleReceiver.ONE flg=0x10 (has extras) }
        to com.hades.android.example.android_about_demos/.app_component.broadcast.SimpleReceiver
        -->
        <!--<receiver android:name=".app_component.broadcast.SimpleReceiver">-->
        <!--&lt;!&ndash; If no intent-filter, can not receive anything. &ndash;&gt;-->
        <!--<intent-filter>-->
        <!--&lt;!&ndash; 指定该BroadcastReceiver所响应的Intent的Action &ndash;&gt;-->
        <!--<action android:name="com.hades.android.example.android_about_demos.app_component.broadcast.normal.SimpleReceiver.ONE" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--W/BroadcastQueue: Permission Denial: receiving Intent { act=android.intent.action.BOOT_COMPLETED flg=0x9000010 (has extras) } to com.hades.android.example.android_about_demos/.app_component.broadcast.normal.BootCompletedReceiver requires android.permission.RECEIVE_BOOT_COMPLETED due to sender null (uid 1000)-->
        <receiver android:name=".app_component.broadcast.normal.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--<receiver android:name=".app_component.broadcast.ordered.OrderMsgReceiver2">-->
        <!--<intent-filter android:priority="1">-->
        <!--<action android:name="com.hades.android.example.android_about_demos.app_component.broadcast.ordered.BootCompletedReceivereiver.TWO" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<receiver android:name=".app_component.broadcast.ordered.OrderMsgReceiver3">-->
        <!--<intent-filter android:priority="2">-->
        <!--<action android:name="com.hades.android.example.android_about_demos.app_component.broadcast.ordered.BootCompletedReceivereiver.TWO" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!-- END_BROADCAST -->

    </application>

</manifest>