<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tabnavigation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
      >
        <activity
            android:name="com.example.tabnavigation.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity android:name="com.example.tabnavigation.CMBActivity" />
         <activity android:name="com.example.tabnavigation.LudashiActivity" />
         <activity android:name="com.example.tabnavigation.GjjActivity" />
         
         <activity android:name="com.example.tabnavigation.Tab1" />
         <activity android:name="com.example.tabnavigation.Tab2" />
         <activity android:name="com.example.tabnavigation.Tab3" />
         <activity android:name="com.example.tabnavigation.Tab4" />
    </application>

</manifest>
