<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hades.example.android.a">

    <!--android:sharedUserId="android_about_demos.test.AcrossAPPJump"-->
    <uses-permission android:name="com.hades.example.android.b.CUSTOM_PERMISSION_TEST" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AActivity">
            <intent-filter>
                <action android:name="com.hades.example.android.a" />
                <data android:mimeType="text/plain" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".TestCustomPermissionActivity" />
        <activity android:name="com.hades.example.android.a1.app_component.Intent_and_intent_filter.TestAccessRemoteActivity" />
    </application>

</manifest>