<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hades.example.android.b">
    <!--android:sharedUserId="android_about_demos.test.AcrossAPPJump"-->
    <!--android:protectionLevel="normal"-->
    <!--<permission-->
    <!--android:name="${applicationId}.CUSTOM_PERMISSION_TEST"-->
    <!--android:description="@string/app_name"-->
    <!--android:permissionGroup="${applicationId}.CUSTOM_PERMISSION_GROUP"-->
    <!--android:protectionLevel="signature" />-->

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".BActivity" />

        <!-- START_ALLOW_OTHER_APP_ACCESS_YOUR_ACTIVITIES -->

        <!--
        ERROR: android:exported="false"
        Process: com.hades.example.android.a, PID: 30624
        java.lang.SecurityException: Permission Denial: starting Intent { typ=text/plain cmp=com.hades.example.android.b/.BActivity (has extras) }
        from ProcessRecord{15c37b8 30624:com.hades.example.android.a/u0a236} (pid=30624, uid=10236) not exported from uid 10237

        Solution:
        android:exported="false" -> android:exported="true"   or same android:sharedUserId
        -->
        <activity
            android:name=".CActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hades.example.android.b.c" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- END_ALLOW_OTHER_APP_ACCESS_YOUR_ACTIVITIES -->

        <!-- START_CUSTOM_PERMISSION -->
        <!--<activity-->
        <!--android:name=".DActivity"-->
        <!--android:exported="true" />-->

        <activity
            android:name=".DActivity"
            android:exported="true"
            android:permission="${applicationId}.CUSTOM_PERMISSION_TEST" />

        <!-- Even add intent-filter, it can not be accessed from other app -->
        <service
            android:name=".bound_service.LocalBoundedService"
            android:exported="true">
            <!--<intent-filter>-->
            <!--<action android:name="com.hades.example.android.b.bound_service.LocalBoundedService" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </service>

        <activity android:name=".bound_service.TestRemoteBoundServiceActivity" />

        <!-- Even add intent-filter, it can not be accessed from other app -->
        <service
            android:name="com.hades.example.android.b.bound_service.RemoteBoundedService"
            android:exported="true"
            android:process=":remote">
            <!--<intent-filter>-->
            <!--<action android:name="com.hades.example.android.b.bound_service.RemoteBoundedService" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </service>
    </application>

</manifest>