<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.broadcast_order"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="demo.broadcast_order.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="demo.broadcast_order.One">
            <intent-filter android:priority="999">
                <action android:name="abc"/>
            </intent-filter>
        </receiver>
        
        <receiver android:name="demo.broadcast_order.Two">
            <intent-filter android:priority="1000">
                <action android:name="abc"/>
            </intent-filter>
        </receiver>
        
        <receiver android:name="demo.broadcast_order.Three">
            <intent-filter android:priority="998">
                <action android:name="abc"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
