<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c20_2_broadcast_lifecycle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 设置广播接受者 当过滤器中设置的action与广播发出者设置的action不一致时，广播接受者不能监听到此信息 -->
        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter >
                <action android:name="testBroadcastReceiver"/>
            </intent-filter>
        </receiver>
        
        <receiver android:name=".MyBroadcastReceiver2">
            <intent-filter >
                <action android:name="testBroadcastReceiver2"/>
            </intent-filter>
        </receiver>
        
        <receiver android:name=".MyBroadcastReceiver3">
            <intent-filter >
                <action android:name="testBroadcastReceiver"/>
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
