<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hades.example.android.app_component.assist">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hades.example.android.app_component.assist.cp.cr.DictUserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.hades.example.android.app_component.assist.cp.cr.DictUserSearchResultActivity"
            android:theme="@android:style/Theme.Material.Dialog" />
    </application>

</manifest>