<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hades.example.android">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".other_ui.OtherUIActivity">
        <!--<activity android:name=".app_component._fragment.TestFragmentActivity">-->
            <!--<activity android:name=".resource.ResourceActivity">-->
            <!--<activity android:name=".app_component.TestAppComponentActivity">-->
            <!--<activity android:name=".app_component.service.unbounservice.StartServiceTest1Activity">-->
            <!--<activity android:name=".widget.WidgetActivity">-->
            <!--<activity android:name=".widget._list._recyclerview._dag_reorder_list.v2.DragAndReorderListActivity">-->
            <!--<activity android:name=".widget._button.TestButtonActivity">-->
            <!--<activity android:name=".other_ui.OtherUIActivity">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>