<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hades.example.android">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".media.audio._sound_pool.TestSoundPoolActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".other_ui.manager_phone_desktop.shortcuts._static.StaticShortcutsActionResponseActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->

        <!--<meta-data-->
        <!--android:name="android.app.shortcuts"-->
        <!--android:resource="@xml/static_shortcuts" />-->
        <!--</activity>-->
    </application>
</manifest>